@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200;300;400;500;600;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

*,
*::before,
*::after {
  touch-action: manipulation;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
:root {
  --background: hsl(0 0% 97%);
  --foreground: hsl(0 0% 14.902%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.902%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.902%);
  --primary: hsl(37.6923 92.126% 50.1961%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 17.2549%);
  --secondary-foreground: hsl(0 0% 98.0392%);
  --muted: hsl(0 0% 93.0392%);
  --muted-foreground: hsl(0 0% 46.0784%);
  --accent: hsl(36.67 93.1% 88.63%);
  --accent-foreground: hsl(32.1327 94.6188% 43.7255%);
  --destructive: hsl(358 65% 46%);
  --destructive-foreground: hsl(0 0% 100%);
  --success: hsl(142 72% 31%);
  --success-foreground: hsl(0 0% 100%);
  --border: hsl(220 13.0435% 85.9804%);
  --input: hsl(220 13.0435% 90.9804%);
  --ring: hsl(37.6923 92.126% 50.1961%);
  --chart-1: hsl(37.6923 92.126% 50.1961%);
  --chart-2: hsl(32.1327 94.6188% 43.7255%);
  --chart-3: hsl(25.9649 90.4762% 37.0588%);
  --chart-4: hsl(22.7273 82.5% 31.3725%);
  --chart-5: hsl(21.7143 77.7778% 26.4706%);
  --sidebar: hsl(210 20% 98.0392%);
  --sidebar-foreground: hsl(0 0% 14.902%);
  --sidebar-primary: hsl(37.6923 92.126% 50.1961%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(48 100% 96.0784%);
  --sidebar-accent-foreground: hsl(22.7273 82.5% 31.3725%);
  --sidebar-border: hsl(220 13.0435% 90.9804%);
  --sidebar-ring: hsl(37.6923 92.126% 50.1961%);
  --font-sans: IBM Plex Sans, sans-serif;
  --font-serif: Crimson Pro, serif;
  --font-mono: Cascadia Code, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 9.0196%);
  --foreground: hsl(0 0% 89.8039%);
  --card: hsl(0 0% 9.0196%);
  --card-foreground: hsl(0 0% 89.8039%);
  --popover: hsl(0 0% 14.902%);
  --popover-foreground: hsl(0 0% 89.8039%);
  --primary: hsl(37.6923 92.126% 50.1961%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 95.098%);
  --secondary-foreground: hsl(0 0% 9.0196%);
  --muted: hsl(0 0% 12.1569%);
  --muted-foreground: hsl(0 0% 63.9216%);
  --accent-foreground: hsl(32.1327 94.6188% 43.7255%);
  --accent: hsl(38 41.67% 14.12%);
  --destructive: hsl(358 66% 53%);
  --destructive-foreground: hsl(0 0% 100%);
  --success: hsl(142 54% 45%);
  --success-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 25.098%);
  --input: hsl(0 0% 25.098%);
  --ring: hsl(37.6923 92.126% 50.1961%);
  --chart-1: hsl(43.2558 96.4126% 56.2745%);
  --chart-2: hsl(32.1327 94.6188% 43.7255%);
  --chart-3: hsl(22.7273 82.5% 31.3725%);
  --chart-4: hsl(25.9649 90.4762% 37.0588%);
  --chart-5: hsl(22.7273 82.5% 31.3725%);
  --sidebar: hsl(0 0% 5.8824%);
  --sidebar-foreground: hsl(0 0% 89.8039%);
  --sidebar-primary: hsl(37.6923 92.126% 50.1961%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(22.7273 82.5% 31.3725%);
  --sidebar-accent-foreground: hsl(48 96.6387% 76.6667%);
  --sidebar-border: hsl(0 0% 25.098%);
  --sidebar-ring: hsl(37.6923 92.126% 50.1961%);
  --font-sans: IBM Plex Sans, sans-serif;
  --font-serif: Crimson Pro, serif;
  --font-mono: Cascadia Code, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

.react-colorful__pointer {
  @apply rounded-md!;
}

.focus-style-none {
  @apply focus-visible:ring-0! focus-visible:ring-offset-0! focus-visible:outline-none!;
}

::selection {
  @apply bg-accent;
}

html,
body {
  overscroll-behavior-y: none;
}
